/*your custom CSS here*/
img{
  width: 100%;
}

.box{
  padding: 10px 20px;
}

.heading{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 2px solid #eee;
  padding: 10px 10px 0px 10px;
}

body{
  padding-top: 100px;
}
